* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}

.app__stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  margin-bottom: 30px;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #E5E5E5;
  /* height: 100vh; */
}

.app__left {
  flex: 0.5;
}

.app__right {
  flex: 0.4;
}

#newcases {
  margin-top: 30px;
}


@media (max-width: 1100px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  /* .app__right {
    display: flex;
  } */
}

@media (max-width: 768px) {

  /* .app__header > h1 {
    font-size: 1.6rem;
  }

  .app__stats {
    display: flex;
    flex-direction: column;
    height: 80vh;
  }  */
}