* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.5;
}

.app__right {
  flex: 0.4;
}

#newcases {
  margin-top: 30px;
}

@media (max-width: 1100px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 30px;
  }
}